# Ignore the Python Virtual Environment completely
.venv/
venv/
ENV/
env/

# Ignore python caching artifacts
__pycache__/
*.py[cod]

# Ignore IDE specific items
.vscode/
.idea/

# Ignore local challenge data and scratch scripts
data/
scratch/

# Ignore personal submission metadata
submission_metadata.yaml
